<!-- Start Page Title Area slide-margin-top -->
<div class="page-title-area item-bg1">
  <div class="container">
        <div class="page-title-content">
            <h2>Knowledge Base</h2>   
            <ul>
              <li><a routerLink="/">Home</a></li>
              <li>Knowledge Base</li>
          </ul>        
        </div>        
    </div>  
    <div class="lines">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
</div>

<!-- End Page Title Area -->

<div class="">
     <mdb-carousel [isControls]="true" [animation]="'slide'">
      <mdb-carousel-item>
        <img class="d-block w-100" src="assets/img/title-bg1.jpg" alt="First slide">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="assets/img/title-bg2.jpg" alt="Second slide">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="assets/img/title-bg3.jpg" alt="Third slide">
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
